/* webiste view*/


*{
	padding: 0;
	margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Lato";
    box-sizing: border-box;
}
:root {
    --linear-grad: linear-gradient(to right, #0070C0, blue);
    --grad-clr1: blue;
    --grad-clr2: #0070C0;   
}
html{
    scroll-behavior: smooth;
    font-family: "Lato";
    scroll-padding-top: 210px;
    overflow-x: hidden;
}
body{
    background: #fff;
    color: #fff;
    font-family: "Lato";
    height: 200vh;
    
}
/* Header */
header{
    background-color: #fff;
    position: fixed;

    top: 0;
    height: 150px; 
    width: 100%;
    z-index: 999;

}

 header img{
    cursor: pointer;
 } 

.nav-menu li{
    list-style: none;
}
 header{
        color: #52525C;
    text-decoration: none;
    font-size: 23px;
    font-family: 'Lato';
   
    

}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    width: 100%;
}
.nav-item{
    position: relative;
  
}

.nav-menu{
    display: flex;
    gap: 2rem;
  
    width: 75%;
}
.nav-link{
    cursor: pointer;
}
.nav-link:hover{
    color:#0070C0;
    font-weight: 900;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.dark-theme{
    
    background-color: black;
}
/* Nav Bar for Mobile */
.hamburger{ 
    display: none;
    cursor: pointer;
}
.bar{
    display: flex;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FF8B00;
    position: relative;
    
}
/* Search*/
.searchC{
    background: white;
    transition: 0.5s;
    border-radius: 60px;
    width: 55px;
    height: 50px;
    overflow: hidden;
    
}
.searchC.active{
    width: 220px;
    height: 50px;
}
.icon{

    width: 60px;
    height: 60px;
    background: white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;

}
.icon::before{
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid black;
    border-radius: 50%;
    transform: translate(-5px,-5px);

}
.icon::after{
    content:'';
    position: absolute;
    width: 3px;
    height: 10px;
    background: black;
    transform: translate(6px,6px) rotate(315deg);
}
.searchC .input {
    position: relative;
    width: 210px;
    height: 60px;
    
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.searchC .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
    color: black;
    outline: black;
    font-size: 16px;
    border-bottom: 1px solid black;


}
.clear
{
    position:absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
   
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-self: center;

}
.clear::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: black;
    transform: rotate(45deg);

}
.clear::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: black;
    transform: rotate(315deg);
    
}

.nav-menu hr{
    width: 51.009803771972656px;
   
    border: 1px solid grey;
    transform: rotate(-90deg);
    position: absolute;
    right: 350px;
    top: 70px;

}
.nav-menu button{
    
    margin: 5px;
    width: 159px;
    height: 57px;
    
    border-radius: 13px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    
}
/* Sign In*/
 .login{
    background: #0070C0;
    color: white;
    font-family: 'Lato';


}

.fonts{
    color: #52525C;
    text-decoration: none;
    font-size: 23px;
    font-family: 'Lato';
}
.login:hover{
    color:#0070C0 ;
    background-color: white;

}
/* Dropdown for Programs */
.sub-menu-wrap{
    position: fixed;
    width: 300px;
    top: 105px;
    left: 23%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 9999;
}
/* Dropdown for Sign in */
.sub-menu-registerLogin{
    position: fixed;
    width: 280px;
    top: 95px;
    
    left: 80.2%;
    max-height:0px;
    transition: max-height 0.5s;
   overflow: hidden;
    cursor: pointer;
    z-index: 999;
}
.sub-menu-wrap.open-menu1{
    max-height: 200px;
}
.sub-menu-registerLogin.open-menu2{
    max-height: 200px;
}
.sub-menu{
    background: #FFFFFF;
    padding: 20px;
    margin: 10px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ccc;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
    color: #BFBFBF;
    height: 50px;
    text-align: center;

}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;

}
.sub-menu-link:hover span{
    transform:  translateX(5px);
    color: #0070C0;
    
}
.sub-menu-link:hover p{
    font-weight: 700;
    color: #0070C0;
    background-color: #DAE9F4;
}
/*register*/

.sub-menu-register .container {
    position: relative;
    width: 70vw;
    height: 80vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.sub-menu-register .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, cyan, #0070C0);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}
 .disclaimer-text {
    font-size: 12px;
    color: #888;
    text-align: center;
    margin-top: 10px;
   
  }
  
  .disclaimer-text .orange-link {
    color: orange;
    text-decoration: none;
  }
  .disclaimer-text .orange-link:hover {
    text-decoration: underline;
  }

  .sub-menu-register  h1 {
    color: blue;
}
.sub-menu-register .logo2 {
    width: 40px; /* Adjust the width as needed */
    height: 50px; /* Let the height scale proportionally */
    vertical-align: middle;
    margin-left: 5px; /* Adjust the margin as needed */
  }

.cnct{
    color: orange;
}

.popup {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    text-align: left;
    overflow-y: auto;
    max-height: 80vh;
    z-index: 9999;
    
  }

 .privacy{
    text-align: center;
  }
 .popup p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: black;
    
  }
  .popup h4{
    color: black;
  }
  .popup h5{
    color: #000000;
    margin-top: 10px;
  }
  .popup ul{
    color: #000000;
  } 
.popup-button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: blue;
    color: #fff;
    font-weight: 600;
    margin: 10px auto;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
  }
  
 .popup-button:hover {
    background: white;
    color: black;
    border: 1px solid #0070C0;
  }


  .sub-menu-register .signin-signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}
.sub-menu-register form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}
.sub-menu-register form.sign-in-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
.sub-menu-register form.sign-up-form {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
.sub-menu-register .title {
    font-size: 35px;
    color: blue;
    margin-bottom: 10px;
}
.sub-menu-register .input-field {
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid grey;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.sub-menu-register .input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}
.sub-menu-register .input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}
.sub-menu-register .btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: blue;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}
.sub-menu-register .btn:hover {
    background: white;
    color: black;
    border: 1px solid #0070C0;
}
.sub-menu-register .social-text {
    margin: 10px 0;
    font-size: 16px;
}
.sub-menu-register .social-media {
    display: flex;
    justify-content: center;
}
.sub-menu-register .social-icon {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    border: 1px solid #444;
    border-radius: 50px;
    margin: 0 5px;
}
a {
    text-decoration: none;
}
.sub-menu-register .social-icon:hover {
    color: #df4adf;
    border-color: #df4adf;
}
.sub-menu-register .panels-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sub-menu-register .panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}
.sub-menu-register .left-panel {
    pointer-events: none;
}
.sub-menu-register .content {
    color: #fff;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}
.sub-menu-register .panel h3 {
    font-size: 24px;
    font-weight: 600;
}
.sub-menu-register .panel p {
    font-size: 15px;
    padding: 10px 0;
}
.sub-menu-register .image {
    width: 70%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}
.sub-menu-register .left-panel .image,
.sub-menu-register .left-panel .content {
    transform: translateX(-200%);
}
.sub-menu-register .right-panel .image,
.sub-menu-register .right-panel .content {
    transform: translateX(0);
}
.account-text {
    display: none;
}
/*Animation*/
.sub-menu-register .container.sign-up-mode::before {
    transform: translateX(0);
}
.sub-menu-register .container.sign-up-mode .right-panel .image,
.sub-menu-register .container.sign-up-mode .right-panel .content {
    transform: translateX(200%);
}
.sub-menu-register .container.sign-up-mode .left-panel .image,
.sub-menu-register .container.sign-up-mode .left-panel .content {
    transform: translateX(0);
}
.sub-menu-register .container.sign-up-mode form.sign-in-form {
    opacity: 0;
}
.sub-menu-register .container.sign-up-mode form.sign-up-form {
    opacity: 1;
}
.sub-menu-register .container.sign-up-mode .right-panel {
    pointer-events: none;
}
.sub-menu-register .container.sign-up-mode .left-panel {
    pointer-events: all;
}
